*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    background:#090909;

    color:white;

    font-family:Arial,Helvetica,sans-serif;

}

.container{

    width:100vw;
    height:100vh;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

}

.logo{

    color:#ff4f7b;

    font-size:55px;

    font-weight:700;

    margin-bottom:45px;

    letter-spacing:-2px;

}

.logo span{

    display:block;

    text-align:center;

    font-size:18px;

    letter-spacing:10px;

    margin-top:10px;

    color:#ff89a8;

}

h1{

    font-size:58px;

    text-align:center;

    font-weight:300;

    line-height:1.2;

}

p{

    margin-top:28px;

    color:#ff93ae;

    font-size:22px;


input{

    width:380px;
    height:65px;

    margin-top:35px;

    border-radius:16px;

    border:2px solid #ff2f68;

    background:#151515;

    color:white;

    font-size:20px;

    text-align:center;

    outline:none;

}

input::placeholder{

    color:#888;

}

button{

    width:380px;

    height:70px;

    margin-top:28px;

    border:none;

    border-radius:18px;

    cursor:pointer;

    font-size:22px;

    transition:.25s;

}

#joinBtn{

    background:#ff2f68;

    color:white;

}

#createBtn{

    background:#181818;

    color:white;

    border:2px solid #ff2f68;

}

button:hover{

    transform:translateY(-3px);

}